body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

/*logoSize*/
.logo {
    position: relative;
    left: 30px;
    width: 150px;
    margin-top: -25px;
    margin-bottom: 10px;
    transform: translate(0%, 0px);
}

/*bannerShadow*/
.navbar {
    box-shadow: 0 2px 2px rgba(203, 214, 251, 0.1);
}

/*bannerSize*/
.navbar-container {
    min-width: 300px;
    /* 设置导航内容的最小宽度 */
    height: 3cm;
    width: 100%;
    padding-left: 0;
    margin-bottom: -1cm;
}

/*bannerFontSet*/
.nav-item {
    text-decoration: none;
    padding: 0px 15px 40px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    color: #000000;
}

/*link下線を消す*/
.nav-item:hover {
    text-decoration: none;
    color: #048da2;
    /*文字変更後色*/
}

/*iconSet*/
.icon {
    float: left;
    position: relative;
    margin: 10px 40px 50px -6px;
    width: 18px;

}

/*iconOtherSet*/
.iconOther {
    float: left;
    position: relative;
    margin: 10px 40px 50px -5px;
    width: 35px;
}

/*横バナー*/
.sidebar {
    background-color: #fff;
    height: 70vh;
    border-radius: 0px 8px 8px 0px;
}

.sidebar ul {
    padding: 50px;
}

.sidebar li {
    font-size: 15px;
    color: rgb(1, 1, 1);

    padding: 16px 0px;
    /* 调整上下填充 */
    margin-left: 20px;
    /* 添加左边距，控制文本与边框的距离 */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
}

.selected {
    background-color: rgb(252, 123, 3);
    /* 更改所选项的颜色 */
}

.content-card {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    height: 180px;
    width: 180px;
    /* 设置图块的固定宽度 */
    margin-bottom: 20px;
    margin-right: 20px;
}

.card {
    box-shadow: 0 2px 4px rgba(140, 199, 250, 0.1);
    overflow: hidden;
    /*丸サイズの設定*/
}

.card.boder-callout-info {
    border-left-color: #1ea9d4ee !important;
    border-left-width: 0.25rem
}

.card-body.moji {
    position: absolute;
    z-index: 1;
    width: 300px;
}

.maru {
    position: absolute;
    right: 14px;
    bottom: 14px;
    width: 30px;
    height: 30px;
    background-color: orange;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    transition: all 0.4s ease;
    opacity: 90%;
}

.maru:focus {
    outline: none;
    border: none;
}

.maru:hover {
    transform: scale(11.5);
}

/*--FOOTER STYLE--*/
footer {
    text-align: center;
    background-color: #fff;
    margin: 0 auto;
}

.banner2 {
    position: relative;
    left: 210px;
    margin: auto;
    padding-top: 83px;
    display: flex;
    justify-content: center;
    height: 150px;
}

/*logoStandSize*/
.logoStand {
    position: relative;
    text-align: center;
    width: 100%;
    height: 150px;
    left: 625px;
    width: 110px;
    transform: translate(0%, 0px);
}

/*Copyrightの様式*/
.footerEnd {
    position: relative;
    padding-top: 130px;
    color: #7c7c7b;
    right: 263px;
    /*文字の幅*/
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
}

.pic {
    position: relative;
    text-align: center;
    /* 让图像水平居中 */
}

.pic img {
    width: 120px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(80%);
}

.active {
    background-color: #1ea9d4ee !important;

}