body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

/*logoSize*/
.logo {
    position: relative;
    left: 30px;
    width: 150px;
    margin-top: -25px;
    margin-bottom: 10px;
    transform: translate(0%, 0px);
}

/*bannerShadow*/
.navbar {
    box-shadow: 0 2px 2px rgba(203, 214, 251, 0.1);
}

/*bannerSize*/
.navbar-container {
    min-width: 300px;
    /* 设置导航内容的最小宽度 */
    height: 3cm;
    width: 100%;
    padding-left: 0;
    margin-bottom: -1cm;
}

/*bannerFontSet*/
.nav-item {
    text-decoration: none;
    padding: 0px 15px 40px 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    color: #000000;
}

/*link下線を消す*/
.nav-item:hover {
    text-decoration: none;
    color: #048da2;
    /*文字変更後色*/
}

/*iconSet*/
.icon {
    float: left;
    position: relative;
    margin: 10px 40px 50px -6px;
    width: 18px;

}

/*iconOtherSet*/
.iconOther {
    float: left;
    position: relative;
    margin: 10px 40px 50px -5px;
    width: 35px;
}

.sidebar {
    background-color: #f7f9fc;
    height: 100vh;
}

.sidebar li {
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

.sidebar li:hover {
    background-color: #e8eef6;
}

.content-card {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    height: 180px;
    width: 180px;
    /* 设置图块的固定宽度 */
    margin-bottom: 20px;
    margin-right: 20px;
}

.card {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


/*--FOOTER STYLE--*/
footer {
    text-align: center;
    background-color: #fff;
	margin:0 auto;
}

.banner2 {
    position: relative;
    left: 210px;
    margin: auto;
    padding-top: 83px;
    display: flex;
    justify-content: center;
    height: 150px;
}

/*logoStandSize*/
.logoStand {
    position: relative;
    text-align: center;
    width: 100%;
    height: 150px;
    left: 625px;
    width: 110px;
    transform: translate(0%, 0px);
}

/*Copyrightの様式*/
.footerEnd {
    position: relative;
    padding-top: 130px;
    color: #7c7c7b;
    right: 263px;/*文字の幅*/
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
}